@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Copyright: Hansel Kristanzen */
            html,
        body {
        height: 100%;
        }
        body {
        margin: 0;
        background-image: url("img/pink.png");
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-color: rgb(0, 0, 0);
        
        height: 100%;
        /* linear-gradient(45deg, #49a09d, #5f2c82); */
        font-family: -apple-system, Helvetica Neue, Helvetica ,'Roboto',sans-serif;
        font-weight: 100;
        }
        .thetitle {
            color:black;
            margin-bottom:100px;
            height:50px;
            font-size:50pt;
            text-align: center;
            font-family: 'Roboto';
            
        }
        .thetitle a{
            text-decoration:none;
            color:rgb(255, 255, 255);
            transition: 2s;
        }
        .thetitle a:hover {
            color:rgb(201, 39, 85);
        }
        .subtitle {
            color:white;
            font-size:15pt;
            font-family: 'Roboto';
            
        }
        .subtitle a {
            text-decoration:none;
            color: white;
            
        }
        .subtitle a:hover {
            text-decoration:underline;
            color:#000000;
            
        }
        .zoom {
            transition: 0.2s;
        }
        .zoom:hover {
            transform: scale(1.5);
        }

        .blok {
            text-align: center;
        }

        .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        table {
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.212);
        }
        th,
        td {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        /* backdrop-filter:blur(1px); */
        font-weight: bold;
        }
        th {
        text-align: left;
        }
        thead th {
        background-color: rgb(238, 123, 222);
        }
        tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
        }
        tbody td {
        position: relative;
        /* text-shadow: 1px 1px 6px #0000008f; */
        }
        tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
        }
/* Copyright: Hansel Kristanzen */
        td a{
            text-decoration:none;
            color:white;
        }
        td a:hover {
            text-decoration:underline;
            color:rgb(238, 123, 222);
            
        }
