/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */
@font-face {
    font-family: font1;
    src:url(font/Helvetica-Bold.ttf);
}
:root {
    --appleGrey: rgba(245, 245, 247, 0.65);
    --appleBrightGrey: rgba(245, 245, 247, 0.8);
    --hkPink: rgb(255, 115, 227);
    --hkAlmostPink: rgb(238, 123, 222);
    --hkDarkPink: rgb(236, 144, 223);
    --spotyGreen: rgb(28, 215, 96);
    --none: rgba(0, 0, 0, 0);
    --titleHover: rgba(245, 245, 245, 0.6);
}

/* By: Hansel Kristanzen */
html,body {
    height: 100%;
}

body {
    margin: 0;
    /* background-image: url("img/pink.png"); */
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    background-color: var(--hkPink);
    height: 100%;
    /* linear-gradient(45deg, #49a09d, #5f2c82); */
    font-family: font1;
    font-weight: 100;
    cursor: default;
    overflow: hidden;
}

.thetitle {
    color:black;
    margin-bottom:100px;
    height:50px;
    font-size:60pt;
    text-align: center;
    font-family: font1;
}

.thetitle a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    transition: 0.3s;
}

.thetitle a:hover{
    color: rgba(245, 245, 245, 0.6);
}

.subtitle {
    color:white;
    font-size:15pt;
    font-family: font1;
}

.subtitle a {
    text-decoration:none;
    color: white;
}

.subtitle a:hover {
    text-decoration:underline;
    color:#000000;
}

.zoomz {
    transition: 0.3s;
}

.zoomz:hover {
    transform: scale(1.5);
}

.blok {
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.212);
}

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    /* backdrop-filter:blur(1px); */
    font-weight: bold;
}

th {
    text-align: left;
}

thead th {
    background-color: var(--hkAlmostPink);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

tbody td {
    position: relative;
    /* text-shadow: 1px 1px 6px #0000008f; */
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

td a {
    text-decoration:none;
    color:white;
    transition: 0.2s;
}

td a:hover {
    text-decoration:underline;
    color: var(--hkAlmostPink);
}

/* Spotify */
#spotify {
    position: absolute;
    z-index: 1;
    /* background-color: #f1f1f1;
    border: 1px solid #d3d3d3; */
    text-align: center;
    font-weight: bold;
    font-size:14px;
}

#spotifyHeader {
    padding-top: 4px;
    padding-bottom:4px;
    padding-left: none;
    padding-right: none;
    cursor: move;
    z-index: 10;
    background-color: var(--spotyGreen);
    color: #fff;
    border-radius: 6px;
    font-family: font1;
}

.close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    padding-right: none;
    float: left;
    line-height: 0px;
    cursor: default;
}

.close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

.spotIcon {
    margin-left: 7px;
    margin-top: 6px;
}

.spotB {
    width: 35px;
    transition: 0.3s;
}

.spotB:hover {
    transform:scale(1.3);
}

.spotB:active {
    filter:brightness(0.7);
}

/* Version Info */
#versionInfo {
    position:absolute;
    bottom:0;
    left:0;
    padding: 7px;
    padding-top: 5%;
    padding-right: 5%;
    color: var(--hkDarkPink);
    transition:0.4s;
}

#versionInfo:hover {
    color:white;
}

/* Current Time */
#currentTime {
    position:absolute;
    right: 0;
    top: 0;
    padding-right: 7px;
    padding-top: 4px;
    font-size: 0.9em;
}

/* Animation Wobble */
/* figure {
    animation: wobble 5s linear infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: wobble;
    transform-origin: center center;
    transform-style: preserve-3d;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    width: 5%;
}

@keyframes wobble {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
} */

/* hk logo */
#hkLogo {
    position:absolute;
    width:300px;
    height:25px;
    margin-left:-150px;
    bottom:0px;
    left:50%;
    text-align: center;
    transition: 0.3s;
    color: rgb(0, 0, 0);
}

#hkLogo a:active {
    color: white;
}

#hkLogo:hover {
    transform: scale(1.5);
}

#hkLogo a {
    text-decoration: none;
    color: black;
}

/* Dark Light Theme Switcher */
.theme-switch {
    position: fixed;
    margin: 7px 10px 0 0;
    top: 3px;
    left: 50px;
    transition: 0.3s;
}

.theme-switch:hover {
    transform: scael(1.5);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 40px;
    height: 16px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: rgb(255, 115, 227);
    position: absolute;
    top: 4px;
    left: 3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translateX(26px);
}

.switcher:active {
    background-color: rgb(199, 89, 184);
}

.moon {
    /* color: #ffa502; */
    color: white;
}
  
.sun {
    /* color: #ff4757; */
    color: rgb(0, 0, 0);
}

.checkbox:checked + .label .switcher {
    /* transform: translateX(26px);  */
    transition: 0.1s;
}

/* Dark Mode */
.dark {
    background-color: black;
    color: white;
    transition: 1s;
}

.dark label {
    background-color:rgba(219, 134, 208, 0.774);
}

.dark thead tr th {
    background-color:rgba(255, 255, 255, 0.171);
    transition: 1s;
}

.dark #versionInfo {
    color: rgba(255, 255, 255, 0.171);
}

.dark #hkLogo a {
    color: white;
}

.dark td a:hover {
    color: white; 
    text-decoration: none;
}

.dark td a {
    color: var(--appleGrey);
}

.dark td {
    color: var(--appleGrey);
}

.dark th {
    color: var(--appleBrightGrey);
}

.dark #versionInfo:hover {
    color: white;
}

.dark tbody tr:hover {
    background-color: var(--none);
}

.dark tbody td:hover:before {
    background-color: var(--none);
}

.dark #X-button {
    color: var(--appleBrightGrey);
}

.dark #X-button:hover {
    color: white;
}

.dark .X-dropdown a {
    color: var(--appleGrey);
}

.dark .X-dropdown a:hover {
    color: white;
}

.dark #Xl-button {
    color: var(--appleBrightGrey);
}

.dark #Xl-button:hover {
    color: white;
}

.dark .Xl-dropdown a {
    color: var(--appleGrey);
}

.dark .Xl-dropdown a:hover {
    color: white;
}

/* Kelas X */
#XA {
    display: none;
}

#XB {
    display: none;
}

#XC {
    display: none;
}

#XD {
    display: none;
}

#XE {
    display: none;
}

#XF {
    display: none;
}

#XG {
    display: none;
}

#XH {
    display: none;
}

#XI {
    display: none;
}

#XJ {
    display: none;
}

/* Kelas XI */

/* Kelas XII */

/* Landing Page */
#landingPage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: white;
    transition: 0.3s;
}

.mainTitle {
    font-size: 60pt;
    transition: 0.3s;
}

.mainTitle:hover {
    color: var(--titleHover);
}

/* Landing Page kelas X */
#kelasX {
    width: 0.5rem;
    transition: 0.3s;
}

/* #kelasX:hover {
    transform: scale(1.1);
} */

#X-button {
    background-color: var(--none);
    color: white;
    /* padding: 16px;
    padding-bottom: 7px;
    padding-left: 3.4rem;
    padding-right: 3.4rem; */
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 16px;
    border: none;
    transition: 0.2s;
    font-family: font1;
    font-size: 16pt;
    width: 50%;
}

#X-button:hover {
    transform: scale(1.4);
}

.X-dropdown {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    transition: 1s;
    left: 1.9rem;
}

.X-dropdown a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    font-family: font1;
}

.X-dropdown a:hover {
    /* background-color: #ddd; */
    transform: scale(1.2);
}

#kelasX:hover .X-dropdown {
    display: block;
}


/* Landing Page Kelas XI */
#kelasXl {
    width: 0.5rem;
    transition: 0.3s;
}

#Xl-button {
    background-color: var(--none);
    color: white;
    /* padding: 16px;
    padding-bottom: 7px;
    padding-left: 3.5rem; */
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 16px;
    border: none;
    transition: 0.2s;
    font-family: font1;
    font-size: 16pt;
    width: 45%;
}

#Xl-button:hover {
    transform: scale(1.4);
}

.Xl-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    transition: 1s;
    left: 8.5rem;
}

.Xl-dropdown a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    font-family: font1;
}

.Xl-dropdown a:hover {
    transform: scale(1.2);
}

#kelasXl:hover .Xl-dropdown {
    display: block;
}


/* Landing Page Kelas XII */