@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Copyright: Hansel Kristanzen */
            html,
        body {
        height: 100%;
        }
        body {
        margin: 0;
        background: black;
        /* linear-gradient(45deg, #49a09d, #5f2c82); */
        font-family: -apple-system, Helvetica Neue, Helvetica ,'Roboto',sans-serif;
        font-weight: 100;
        }
        .thetitle {
            color:white;
            margin-bottom:100px;
            height:50px;
            font-size:50pt;
            text-align: center;
            font-family: 'Roboto';
            
        }
        .thetitle a{
            text-decoration:none;
            color:white;
        }
        .thetitle a:hover {
            color:#858585;
        }
        .subtitle {
            color:white;
            font-size:15pt;
            font-family: 'Roboto';
            
            
        }
        .subtitle a {
            text-decoration:none;
            color: white;
        }
        .subtitle a:hover {
            text-decoration:underline;
            color:#858585;
        }
        .blok {
            text-align: center;
        }

        .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        table {
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        th,
        td {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        }
        th {
        text-align: left;
        }
        thead th {
        background-color: #5c5c5cd7;
        }
        tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
        }
        tbody td {
        position: relative;
        }
        tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
        }
/* Copyright: Hansel Kristanzen */
        td a{
            text-decoration:none;
            color:white;
        }
        td a:hover {
            text-decoration:underline;
            color:#000000;
            
        }
